/* iPhone 6/7/8 rất hẹp (<375px) */
@media (max-width: 413px) {
  .brand {
    font-size: 16px;
  }

  .sidebarItem {
    font-size: 14px;
  }

  .sidebarIconItem{
    width: 16px;
    height: 16px;
  }
}

/* iPhone 6/7/8 Plus (>=414px) */
@media (min-width: 414px) and (max-width: 767.98px) {
  .brand {
    font-size: 16px;
  }

  .sidebarItem {
    font-size: 14px;
  }

  .sidebarIconItem{
    width: 18x;
    height: 18px;
  }
}

/* ====== iPad (768–1199.98) ====== */
@media (min-width: 768px) and (max-width: 1199.98px) {
  .brand {
    font-size: 20px;
  }

  .sidebarItem {
    font-size: 16px;
  }

  .sidebarIconItem{
    width: 20px;
    height: 20px;
  }
}

/* ====== Desktop ≥1200 ====== */
@media (min-width: 1200px) {
  .brand {
    font-size: 24px;
  }

  .sidebarItem {
    font-size: 16px;
  }
}
